# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: apps/v1
kind: Deployment
metadata:
  name: gmc-controller
  namespace: system
  labels:
    control-plane: gmc-controller
    app.kubernetes.io/name: gmconnector
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      control-plane: gmc-controller
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: gmc-controller
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
      - command:
        - /manager
        image: opea/gmcmanager:latest
        imagePullPolicy: IfNotPresent
        name: manager
        volumeMounts:
        - name: yaml-file
          mountPath: /tmp/microservices/yamls
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
      volumes:
      - name: yaml-file
        configMap:
          name: gmcyaml
      serviceAccountName: gmc-controller
      terminationGracePeriodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: gmc-validating-webhook-service
  namespace: system
spec:
  type: ClusterIP
  selector:
    control-plane: gmc-controller
  ports:
    - protocol: TCP
      port: 9443
      targetPort: 9443
