# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

tei:
  accelDevice: "gaudi"
  image:
    repository: ghcr.io/huggingface/tei-gaudi
    tag: synapse_1.16
  resources:
    limits:
      habana.ai/gaudi: 1
  securityContext:
    readOnlyRootFilesystem: false

# To override values in subchart tgi
tgi:
  accelDevice: "gaudi"
  image:
    repository: ghcr.io/huggingface/tgi-gaudi
    tag: "2.0.5"
  resources:
    limits:
      habana.ai/gaudi: 1
  MAX_INPUT_LENGTH: "1024"
  MAX_TOTAL_TOKENS: "2048"
  CUDA_GRAPHS: ""
