# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# To override values in subchart tei
tei:
  image:
    repository: ghcr.io/huggingface/tei-gaudi
    tag: synapse_1.16
  resources:
    limits:
      habana.ai/gaudi: 1

# To override values in subchart tgi
tgi:
  image:
    repository: ghcr.io/huggingface/tgi-gaudi
    tag: "2.0.1"
  resources:
    limits:
      habana.ai/gaudi: 1
  extraArgs:
    - "--max-input-length"
    - "1024"
    - "--max-total-tokens"
    - "2048"
