**/bin/
*.out
*.swp
**/Chart.lock
**/charts/*.tgz

bazel-*
compile_commands.json
.gitconfig

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.private

# Crash log files
crash.log

# Terraform lock files
.terraform.lock.hcl

# Ignore any .tfvars files
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
