# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  name: {{ include "visualqna.fullname" . }}
  labels:
    {{- include "visualqna.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.port }}
      protocol: TCP
      name: visualqna
  selector:
    {{- include "visualqna.selectorLabels" . | nindent 4 }}
    app: {{ include "visualqna.fullname" . }}
