# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "data-prep.fullname" . }}-config
  labels:
    {{- include "data-prep.labels" . | nindent 4 }}
data:
  {{- if .Values.TEI_EMBEDDING_ENDPOINT }}
  TEI_EMBEDDING_ENDPOINT: {{ tpl .Values.TEI_EMBEDDING_ENDPOINT . | quote}}
  {{- else if not .Values.LOCAL_EMBEDDING_MODEL }}
  TEI_EMBEDDING_ENDPOINT: "http://{{ .Release.Name }}-tei"
  {{- end }}
  {{- if eq "REDIS" .Values.DATAPREP_BACKEND }}
  DATAPREP_COMPONENT_NAME: "OPEA_DATAPREP_REDIS"
  {{- if .Values.REDIS_HOST }}
  REDIS_HOST: {{ tpl .Values.REDIS_HOST . | quote}}
  {{- else }}
  REDIS_HOST: "{{ .Release.Name }}-redis-vector-db"
  {{- end }}
  REDIS_PORT: {{ .Values.REDIS_PORT | quote }}
  REDIS_SSL: {{ .Values.REDIS_SSL | quote }}
  REDIS_PASSWORD: {{ .Values.REDIS_PASSWORD | quote }}
  REDIS_USERNAME: {{ .Values.REDIS_USERNAME | quote }}
  INDEX_NAME: {{ .Values.INDEX_NAME | quote }}
  KEY_INDEX_NAME: {{ .Values.KEY_INDEX_NAME | quote }}
  SEARCH_BATCH_SIZE: {{ .Values.SEARCH_BATCH_SIZE | quote }}
  EMBED_MODEL: {{ .Values.LOCAL_EMBEDDING_MODEL | default "" | quote }}
  {{- else if eq "MILVUS" .Values.DATAPREP_BACKEND }}
  DATAPREP_COMPONENT_NAME: "OPEA_DATAPREP_MILVUS"
  {{- if .Values.MILVUS_HOST }}
  MILVUS_HOST: {{ tpl .Values.MILVUS_HOST . | quote }}
  {{- else }}
  MILVUS_HOST: "{{ .Release.Name }}-milvus"
  {{- end }}
  MILVUS_PORT: {{ .Values.MILVUS_PORT | quote }}
  COLLECTION_NAME: {{ .Values.COLLECTION_NAME | quote }}
  LOCAL_EMBEDDING_MODEL: {{ .Values.LOCAL_EMBEDDING_MODEL | default "" | quote }}
  {{- else if eq "QDRANT" .Values.DATAPREP_BACKEND }}
  DATAPREP_COMPONENT_NAME: "OPEA_DATAPREP_QDRANT"
  {{- if .Values.QDRANT_HOST }}
  QDRANT_HOST: {{ tpl .Values.QDRANT_HOST . | quote }}
  {{- else }}
  QDRANT_HOST: "{{ .Release.Name }}-qdrant"
  {{- end }}
  QDRANT_PORT: {{ .Values.QDRANT_PORT | quote }}
  COLLECTION_NAME: {{ .Values.COLLECTION_NAME | quote }}
  EMBED_MODEL: {{ .Values.LOCAL_EMBEDDING_MODEL | default "" | quote }}
  {{- else if eq "REDISFINANCE" .Values.DATAPREP_BACKEND }}
  DATAPREP_COMPONENT_NAME: "OPEA_DATAPREP_REDIS_FINANCE"
  {{- if .Values.REDIS_URL_VECTOR }}
  REDIS_URL_VECTOR: {{ tpl .Values.REDIS_URL_VECTOR . | quote}}
  {{- else }}
  REDIS_URL_VECTOR: "redis://{{ .Release.Name }}-redis-vector-db:6379"
  {{- end }}
  {{- if .Values.REDIS_URL_KV }}
  REDIS_URL_KV: {{ tpl .Values.REDIS_URL_KV . | quote}}
  {{- else }}
  REDIS_URL_KV: "redis://{{ .Release.Name }}-redis-kv-store:6379"
  {{- end }}
  {{- if .Values.LLM_ENDPOINT }}
  LLM_ENDPOINT: {{ tpl .Values.LLM_ENDPOINT . | quote}}
  LLM_MODEL: {{ .Values.LLM_MODEL | quote}}
  {{- else }}
  LLM_ENDPOINT: "http://{{ .Release.Name }}-vllm"
  LLM_MODEL: "meta-llama/Llama-3.3-70B-Instruct"
  {{- end }}
  {{- else }}
  {{- cat "Invalid DATAPREP_BACKEND:" .Values.DATAPREP_BACKEND | fail }}
  {{- end }}
  HUGGINGFACEHUB_API_TOKEN: {{ .Values.global.HUGGINGFACEHUB_API_TOKEN | quote}}
  HF_TOKEN: {{ .Values.global.HUGGINGFACEHUB_API_TOKEN | quote}}
  HF_HOME: "/tmp/.cache/huggingface"
  {{- if .Values.global.HF_ENDPOINT }}
  HF_ENDPOINT: {{ .Values.global.HF_ENDPOINT | quote}}
  {{- end }}
  http_proxy: {{ .Values.global.http_proxy | quote }}
  https_proxy: {{ .Values.global.https_proxy | quote }}
  {{- if and (and (not .Values.MILVUS_HOST ) (not .Values.REDIS_HOST)) (and (not .Values.TEI_EMBEDDING_ENDPOINT) (or .Values.global.http_proxy .Values.global.https_proxy)) }}
  no_proxy: "{{ .Release.Name }}-tei,{{ .Release.Name }}-redis-vector-db,{{ .Release.Name }}-milvus,{{ .Values.global.no_proxy }}"
  {{- else }}
  no_proxy: {{ .Values.global.no_proxy | quote }}
  {{- end }}
  LOGFLAG: {{ .Values.LOGFLAG | quote }}
  NUMBA_CACHE_DIR: "/tmp/numba/cache"
  XDG_CACHE_HOME: "/tmp/fontconfig/cache"
  MPLCONFIGDIR: "/tmp/matplotlib"
