# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "data-prep.fullname" . }}
  labels:
    {{- include "data-prep.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "data-prep.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- include "common.annotations" . | nindent 6 }}
      labels:
        {{- include "data-prep.selectorLabels" . | nindent 8 }}
    spec:
      {{- include "common.runtimeClassName" . | nindent 6 }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "data-prep.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        - name: wait-for-db
          envFrom:
            - configMapRef:
                name: {{ include "data-prep.fullname" . }}-config
            {{- if .Values.global.extraEnvConfig }}
            - configMapRef:
                name: {{ .Values.global.extraEnvConfig }}
                optional: true
            {{- end }}
          image: busybox:1.36
          command: ["sh", "-c"]
          args:
            - |
              {{- if eq "REDIS" .Values.DATAPREP_BACKEND }}
              TESTHOST=$(REDIS_HOST);
              TESTPORT=$(REDIS_PORT);
              {{- else if eq "MILVUS" .Values.DATAPREP_BACKEND }}
              TESTHOST=$(MILVUS_HOST);
              TESTPORT=$(MILVUS_PORT);
              {{- else if eq "QDRANT" .Values.DATAPREP_BACKEND }}
              TESTHOST=$(QDRANT_HOST);
              TESTPORT=$(QDRANT_PORT);
              {{- end }}
              wait_timeout={{ .Values.waitTimeout | default 1 }};
              total_timeout={{ .Values.retryTimeoutSeconds | default 60 }};
              j=0;
              while ! nc -w ${wait_timeout} -z ${TESTHOST} ${TESTPORT}; do
                j=$((j+wait_timeout));
                [[ $j -ge ${total_timeout} ]] && echo "ERROR: ${TESTHOST}:${TESTPORT} is NOT reachable in $j seconds!" && exit 1;
                j=$((j+2)); sleep 2;
              done;
              echo "${TESTHOST}:${TESTPORT} is reachable within $j seconds.";
      containers:
        - name: {{ .Chart.Name }}
          envFrom:
            - configMapRef:
                name: {{ include "data-prep.fullname" . }}-config
            {{- if .Values.global.extraEnvConfig }}
            - configMapRef:
                name: {{ .Values.global.extraEnvConfig }}
                optional: true
            {{- end }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          {{- if .Values.image.pullPolicy }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- end }}
          ports:
            - name: data-prep
              containerPort: {{ .Values.port }}
              protocol: TCP
          volumeMounts:
            - mountPath: /tmp
              name: tmp
          {{- if .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.startupProbe }}
          startupProbe:
            {{- toYaml .Values.startupProbe | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: tmp
          emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.evenly_distributed }}
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              {{- include "data-prep.selectorLabels" . | nindent 14 }}
      {{- end }}
