# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Default values for llm-uservice.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
# TGI_LLM_ENDPOINT: "http://automaticallydetected"

image:
  repository: opea/llm-tgi:latest
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  # tag: "1.0"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  # The default port for llm service is 9000
  port: 9000

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

# To override values in subchart tgi
tgi:
  LLM_MODEL_ID: m-a-p/OpenCodeInterpreter-DS-6.7B
  # LLM_MODEL_ID: /data/OpenCodeInterpreter-DS-6.7B
  port: 80
  volume: /mnt

  image:
    repository: ghcr.io/huggingface/text-generation-inference
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: "1.4"
global:
  http_proxy:
  https_proxy:
  no_proxy:
  HUGGINGFACEHUB_API_TOKEN: "insert-your-huggingface-token-here"
  LANGCHAIN_TRACING_V2: false
  LANGCHAIN_API_KEY: "insert-your-langchain-key-here"
