# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tgi.fullname" . }}
  labels:
    {{- include "tgi.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "tgi.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "tgi.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          env:
            - name: MODEL_ID
              value: {{ .Values.LLM_MODEL_ID }}
            - name: PORT
              value: {{ .Values.port | quote }}
            - name: HTTP_PROXY
              value: {{ .Values.global.http_proxy }}
            - name: HTTPS_PROXY
              value: {{ .Values.global.https_proxy }}
            - name: NO_PROXY
              value: {{ .Values.global.no_proxy }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
            - mountPath: /data
              name: model-volume
          ports:
            - name: http
              containerPort: {{ .Values.port }}
              protocol: TCP
#          livenessProbe:
#            httpGet:
#              path: /
#              port: http
#          startupProbe:
#            httpGet:
#              path: /
#              port: {{ .Values.port }}
#            initialDelaySeconds: 5
#            periodSeconds: 5
#            failureThreshold: 120
#          readinessProbe:
#            httpGet:
#              path: /
#              port: {{ .Values.port }}
#            initialDelaySeconds: 5
#            periodSeconds: 5
#            failureThreshold: 120
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
            #          command:
            #            - "/usr/bin/bash"
      volumes:
        - name: model-volume
          hostPath:
            path: {{ .Values.volume }}
            type: Directory
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
