# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Default values for tgi.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

port: 2080

image:
  repository: ghcr.io/huggingface/tgi-gaudi
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "1.2.1"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext:
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 1000
  capabilities:
    drop:
    - ALL
  seccompProfile:
    type: RuntimeDefault

service:
  type: ClusterIP

resources:
  limits:
    habana.ai/gaudi: 1

nodeSelector: {}

tolerations: []

affinity: {}

# LLM_MODEL_ID: ise-uiuc/Magicoder-S-DS-6.7B
LLM_MODEL_ID: /data/Magicoder-S-DS-6.7B

global:
  http_proxy:
  https_proxy:
  no_proxy:
  HUGGINGFACEHUB_API_TOKEN: "insert-your-huggingface-token-here"
  # set modelUseHostPath to host directory if you want to use hostPath volume for model storage
  # comment out modeluseHostPath if you want to download the model from huggingface
  modelUseHostPath: /mnt/opea-models
