# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Default values for tgi.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

LLM_MODEL_ID: bigscience/bloom-560m
# LLM_MODEL_ID: /data/OpenCodeInterpreter-DS-6.7B
port: 80
volume: /mnt

image:
  repository: ghcr.io/huggingface/text-generation-inference
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "1.4"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    habana.ai/gaudi: 1

nodeSelector: {}

tolerations: []

affinity: {}
# LLM_MODEL_ID: ise-uiuc/Magicoder-S-DS-6.7B
LLM_MODEL_ID: /data/Magicoder-S-DS-6.7B
volume: /mnt
image:
  repository: ghcr.io/huggingface/tgi-gaudi
  tag: "1.2.1"

global:
  http_proxy:
  https_proxy:
  no_proxy:

