# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Keep envoy.bazelrc up-to-date by run:
# curl -sSL https://raw.githubusercontent.com/istio/proxy/master/.bazelrc > envoy.bazelrc
import %workspace%/envoy.bazelrc

# Build with Clang by default.
build --config=clang

# Build with embedded V8-based WebAssembly runtime.
build --define wasm=v8

# Build Proxy-WASM plugins as native extensions.
build --copt -DNULL_PLUGIN

# Build with Docker.
build:docker --action_env='PATH=/opt/llvm/bin:/opt/llvm/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin' --host_action_env='PATH=/opt/llvm/bin:/opt/llvm/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin'
build:docker --action_env='LLVM_CONFIG=/opt/llvm/bin/llvm-config' --host_action_env='LLVM_CONFIG=/opt/llvm/bin/llvm-config'
build:docker --repo_env='LLVM_CONFIG=/opt/llvm/bin/llvm-config'
build:docker --linkopt='-L/opt/llvm/lib'
build:docker --linkopt='-Wl,-rpath,/opt/llvm/lib'
