---
# Source: chatqna-ui/templates/configmap.yaml
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: ConfigMap
metadata:
  name: chatqna-ui-config
  labels:
    helm.sh/chart: chatqna-ui-1.0.0
    app.kubernetes.io/name: chatqna-ui
    app.kubernetes.io/instance: chatqna-ui
    app.kubernetes.io/version: "v1.0"
    app.kubernetes.io/managed-by: Helm
data:
  http_proxy: ""
  https_proxy: ""
  no_proxy: ""
  APP_BACKEND_SERVICE_ENDPOINT: ""
  APP_DATA_PREP_SERVICE_URL: ""
  CHAT_BASE_URL: ""
  UPLOAD_FILE_BASE_URL: ""
  GET_FILE: ""
  DELETE_FILE: ""
---
# Source: chatqna-ui/templates/service.yaml
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  name: chatqna-ui
  labels:
    helm.sh/chart: chatqna-ui-1.0.0
    app.kubernetes.io/name: chatqna-ui
    app.kubernetes.io/instance: chatqna-ui
    app.kubernetes.io/version: "v1.0"
    app.kubernetes.io/managed-by: Helm
spec:
  type: ClusterIP
  ports:
    - port: 5174
      targetPort: ui
      protocol: TCP
      name: ui
  selector:
    app.kubernetes.io/name: chatqna-ui
    app.kubernetes.io/instance: chatqna-ui
---
# Source: chatqna-ui/templates/deployment.yaml
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: apps/v1
kind: Deployment
metadata:
  name: chatqna-ui
  labels:
    helm.sh/chart: chatqna-ui-1.0.0
    app.kubernetes.io/name: chatqna-ui
    app.kubernetes.io/instance: chatqna-ui
    app.kubernetes.io/version: "v1.0"
    app.kubernetes.io/managed-by: Helm
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: chatqna-ui
      app.kubernetes.io/instance: chatqna-ui
  template:
    metadata:
      labels:
        helm.sh/chart: chatqna-ui-1.0.0
        app.kubernetes.io/name: chatqna-ui
        app.kubernetes.io/instance: chatqna-ui
        app.kubernetes.io/version: "v1.0"
        app.kubernetes.io/managed-by: Helm
    spec:
      securityContext:
        {}
      containers:
        - name: chatqna-ui
          envFrom:
            - configMapRef:
                name: chatqna-ui-config
            - configMapRef:
                name: extra-env-config
                optional: true
          securityContext:
            {}
          image: "opea/chatqna-conversation-ui:latest"
          imagePullPolicy: IfNotPresent
          ports:
            - name: ui
              containerPort: 80
              protocol: TCP
          resources:
            {}
          volumeMounts:
            - mountPath: /tmp
              name: tmp
      volumes:
        - name: tmp
          emptyDir: {}
