---
# Source: ui/templates/configmap.yaml
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: ConfigMap
metadata:
  name: docsum-react-ui-config
  labels:
    helm.sh/chart: ui-1.4.0
    app.kubernetes.io/name: ui
    app.kubernetes.io/instance: docsum-react-ui
    app.kubernetes.io/version: "v1.0"
    app.kubernetes.io/managed-by: Helm
data:
  VITE_DOC_SUM_URL: "/v1/docsum"
---
# Source: ui/templates/service.yaml
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  name: docsum-react-ui
  labels:
    helm.sh/chart: ui-1.4.0
    app.kubernetes.io/name: ui
    app.kubernetes.io/instance: docsum-react-ui
    app.kubernetes.io/version: "v1.0"
    app.kubernetes.io/managed-by: Helm
spec:
  type: ClusterIP
  ports:
    - port: 5174
      targetPort: ui
      protocol: TCP
      name: ui
  selector:
    app.kubernetes.io/name: ui
    app.kubernetes.io/instance: docsum-react-ui
---
# Source: ui/templates/deployment.yaml
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: apps/v1
kind: Deployment
metadata:
  name: docsum-react-ui
  labels:
    helm.sh/chart: ui-1.4.0
    app.kubernetes.io/name: ui
    app.kubernetes.io/instance: docsum-react-ui
    app.kubernetes.io/version: "v1.0"
    app.kubernetes.io/managed-by: Helm
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: ui
      app.kubernetes.io/instance: docsum-react-ui
  template:
    metadata:
      
      labels:
        helm.sh/chart: ui-1.4.0
        app.kubernetes.io/name: ui
        app.kubernetes.io/instance: docsum-react-ui
        app.kubernetes.io/version: "v1.0"
        app.kubernetes.io/managed-by: Helm
    spec:      
      serviceAccountName: default
      securityContext:
        {}
      containers:
        - name: ui
          envFrom:
            - configMapRef:
                name: docsum-react-ui-config
            - configMapRef:
                name: docsum-react-ui-opea-ui-config
                optional: true
            - configMapRef:
                name: extra-env-config
                optional: true
          securityContext:
            {}
          image: "opea/docsum-react-ui:1.4"
          ports:
            - name: ui
              containerPort: 80
              protocol: TCP
          livenessProbe:
            failureThreshold: 24
            httpGet:
              path: /
              port: ui
            initialDelaySeconds: 5
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: ui
            initialDelaySeconds: 5
            periodSeconds: 5
          startupProbe:
            failureThreshold: 120
            httpGet:
              path: /
              port: ui
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
          volumeMounts:
            - mountPath: /tmp
              name: tmp
      volumes:
        - name: tmp
          emptyDir: {}
---
# Source: ui/templates/serviceaccount.yaml
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
# Source: ui/templates/tests/test-pod.yaml
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
