---
# Source: mongodb/templates/service.yaml
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  name: mongodb
  labels:
    helm.sh/chart: mongodb-1.4.0
    app.kubernetes.io/name: mongodb
    app.kubernetes.io/instance: mongodb
    app.kubernetes.io/version: "7.0.11"
    app.kubernetes.io/managed-by: Helm
spec:
  type: ClusterIP
  ports:
    - port: 27017
      targetPort: 27017
      protocol: TCP
      name: mongodb
  selector:
    app.kubernetes.io/name: mongodb
    app.kubernetes.io/instance: mongodb
---
# Source: mongodb/templates/deployment.yaml
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  labels:
    helm.sh/chart: mongodb-1.4.0
    app.kubernetes.io/name: mongodb
    app.kubernetes.io/instance: mongodb
    app.kubernetes.io/version: "7.0.11"
    app.kubernetes.io/managed-by: Helm
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: mongodb
      app.kubernetes.io/instance: mongodb
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mongodb
        app.kubernetes.io/instance: mongodb
    spec:
      serviceAccountName: default
      securityContext:
        {}
      containers:
        - name: mongodb
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: false
            runAsUser: 999
            seccompProfile:
              type: RuntimeDefault
          image: "mongo:7.0.11"
          volumeMounts:
            - mountPath: /data
              name: data-volume
            - mountPath: /tmp
              name: tmp
          ports:
            - name: port
              containerPort: 27017
              protocol: TCP
          startupProbe:
            failureThreshold: 120
            initialDelaySeconds: 5
            periodSeconds: 5
            tcpSocket:
              port: port
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
      volumes:
        - name: data-volume
          emptyDir: {}
        - name: tmp
          emptyDir: {}
---
# Source: mongodb/templates/serviceaccount.yaml
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
