---
# Source: ui/templates/configmap.yaml
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: ConfigMap
metadata:
  name: ui-config
  labels:
    helm.sh/chart: ui-1.0.0
    app.kubernetes.io/name: ui
    app.kubernetes.io/instance: ui
    app.kubernetes.io/version: "v1.0"
    app.kubernetes.io/managed-by: Helm
data:
  APP_BACKEND_SERVICE_ENDPOINT: "/v1/chatqna"
  APP_DATA_PREP_SERVICE_URL: "/v1/dataprep"
  CHAT_BASE_URL: "/v1/chatqna"
  UPLOAD_FILE_BASE_URL: "/v1/dataprep"
  GET_FILE: "/v1/dataprep/get_file"
  DELETE_FILE: "/v1/dataprep/delete_file"
  BASE_URL: "/v1/chatqna"
  DOC_BASE_URL: "/v1/chatqna"
  BASIC_URL: "/v1/chatqna"
  VITE_CODE_GEN_URL: "/v1/chatqna"
  VITE_DOC_SUM_URL: "/v1/chatqna"
---
# Source: ui/templates/service.yaml
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  name: ui
  labels:
    helm.sh/chart: ui-1.0.0
    app.kubernetes.io/name: ui
    app.kubernetes.io/instance: ui
    app.kubernetes.io/version: "v1.0"
    app.kubernetes.io/managed-by: Helm
spec:
  type: ClusterIP
  ports:
    - port: 5174
      targetPort: ui
      protocol: TCP
      name: ui
  selector:
    app.kubernetes.io/name: ui
    app.kubernetes.io/instance: ui
---
# Source: ui/templates/deployment.yaml
# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
  labels:
    helm.sh/chart: ui-1.0.0
    app.kubernetes.io/name: ui
    app.kubernetes.io/instance: ui
    app.kubernetes.io/version: "v1.0"
    app.kubernetes.io/managed-by: Helm
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: ui
      app.kubernetes.io/instance: ui
  template:
    metadata:
      labels:
        helm.sh/chart: ui-1.0.0
        app.kubernetes.io/name: ui
        app.kubernetes.io/instance: ui
        app.kubernetes.io/version: "v1.0"
        app.kubernetes.io/managed-by: Helm
    spec:
      securityContext:
        {}
      containers:
        - name: ui
          envFrom:
            - configMapRef:
                name: ui-config
            - configMapRef:
                name: extra-env-config
                optional: true
          securityContext:
            {}
          image: "opea/chatqna-conversation-ui:1.0"
          imagePullPolicy: IfNotPresent
          ports:
            - name: ui
              containerPort: 80
              protocol: TCP
          resources:
            {}
          volumeMounts:
            - mountPath: /tmp
              name: tmp
      volumes:
        - name: tmp
          emptyDir: {}
