# Copyright (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

accelDevice: "gaudi"

image:
  repository: opea/lvm-llama-vision

resources:
  limits:
    habana.ai/gaudi: 1

LVM_MODEL_ID: meta-llama/Llama-3.2-11B-Vision-Instruct
port: 9399

readinessProbe:
  httpGet:
    path: v1/health_check
  initialDelaySeconds: 5
  periodSeconds: 5
  timeoutSeconds: 1
startupProbe:
  httpGet:
    path: v1/health_check
  initialDelaySeconds: 5
  periodSeconds: 5
  timeoutSeconds: 1
  failureThreshold: 120
